body {
  background: linear-gradient(120deg, #0b0b0f, #1a1a24);
  color: white;
  font-family: Arial;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.8em;
  color: #1e90ff;
}

button {
  padding: 10px 25px;
  margin: 5px 0;
  cursor: pointer;
  background: #1e1eff;
  border: none;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.2s;
}

button:hover { background: #3a3aff; }

input { padding: 10px; width: 250px; margin-bottom: 10px; border-radius: 6px; border:none; }

.card { 
  background: #15151d; 
  padding: 25px; 
  margin-top: 20px; 
  border-radius: 15px; 
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.card h2 { color: #00ffff; margin-bottom: 15px; }

.grid { display: grid; grid-template-columns: repeat(auto-fit,minmax(150px,1fr)); gap:15px; }

.stat { background:#1f1f2b; padding:15px; border-radius:10px; text-align:center; }
.stat h3 { font-size:1em; color:#1e90ff; margin-bottom:5px; }
.stat p { font-size:1.2em; font-weight:bold; }

canvas { margin-top: 15px; background: #0b0b0f; border-radius: 8px; }
